@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    background-color: #f2f2f2;
  }
  .grid {
    padding: 15px;
    color: rgb(118, 33, 147);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    align-items: center;

    grid-template-areas:
    "text1 photo1"
    "photo2 text2"
    "text3 photo3";
  }
  .grid2 {
    padding: 15px;
    color: rgb(118, 33, 147);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    align-items: stretch;

    grid-template-areas:
    "text1 photo4"
    "photo1 photo2";
  }
}
